h1{
    color: green;
    text-align: center;
}
img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 350px;
    height: 200px;
}
.artikel{
    float: left;
    text-align: justify;
    font-size: 20px;
    width: 900px;
    height: auto;
}
body{
    background-color: aliceblue;
}
iframe{
    float: right;
    display: block;
    width: 350px;
    height: 300px;
}
.sidebar{
    float: right;
    height: 450px;
    width: 400px;
}